* {
    box-sizing: border-box;
}

body {
    background-image:url(Imágenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


nav {
    display: flex;
    background-color: rgb(255, 185, 33);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    justify-content:space-around;
    list-style: none;
    gap: 2rem;
}

nav a {
    position: relative;
    top: 50px;
    font-size: 40px;
}


.logo {
    height: 150px;
    display: flex;
}

main {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    position: relative;
    margin-top: 220px;
    border: 3px solid yellow;
    padding: 10px;
    margin-left: 300px;
    margin-right: 300px;
    display: grid;
}